.questionsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 48px;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.3em;
}

.questionButtons {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-around;
    width: 80%;
}

.question {
    font-size: 26px;
    margin-bottom: .3em;
}

.radioButton {
    font-size: 22px;
}