.questionsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 48px;
    cursor: pointer;
    user-select: none;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.3em;
}
.predictionTypeContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.3em;
}

.predictionType {
    margin-top: .5em;
    font-size: 2em;
    cursor: pointer;
}
.countdown {
    font-size: .5em;
    align-self: center;
    margin-left: 1em;
}

.questionButtons {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-around;
    width: 80%;
}

.question {
    font-size: 26px;
    margin-bottom: .3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.radioButton {
    font-size: 22px;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: .25em double var(--dark3);
}

.navSideElement {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hamburger {
    cursor: pointer;
    filter: invert(100%);
    margin-left: 10em;
}

.leedingText {
    color: var(--dark6);
    align-self: flex-start;
    font-size: 15px;
}

.timeLabel {
    margin-block-end: 0;
}

.timeData{
    font-size: .85em;
}
